<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuebinduan.looknewaddfile2">

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".SplashLookNewAddFileActivity"
            android:exported="true" />
        <activity
            android:name=".LookNewAddFileActivity"
            android:exported="true" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>